@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 34% 100%;
    --foreground: 231 52% 0%;
    --muted: 231 35% 90%;
    --muted-foreground: 231 2% 36%;
    --popover: 231 34% 100%;
    --popover-foreground: 231 52% 0%;
    --card: 231 34% 100%;
    --card-foreground: 231 52% 0%;
    --border: 231 3% 92%;
    --input: 231 3% 92%;
    --primary: 231 1% 79%;
    --primary-foreground: 231 1% 19%;
    --secondary: 231 15% 91%;
    --secondary-foreground: 231 15% 31%;
    --accent: 231 21% 81%;
    --accent-foreground: 231 21% 21%;
    --destructive: 8 91% 28%;
    --destructive-foreground: 8 91% 88%;
    --ring: 231 1% 79%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 34% 0%;
    --foreground: 231 30% 98%;
    --muted: 231 35% 10%;
    --muted-foreground: 231 2% 64%;
    --popover: 231 34% 0%;
    --popover-foreground: 231 30% 98%;
    --card: 231 34% 0%;
    --card-foreground: 231 30% 98%;
    --border: 231 3% 14%;
    --input: 231 3% 14%;
    --primary: 231 1% 79%;
    --primary-foreground: 231 1% 19%;
    --secondary: 231 17% 11%;
    --secondary-foreground: 231 17% 71%;
    --accent: 231 25% 18%;
    --accent-foreground: 231 25% 78%;
    --destructive: 8 91% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 231 1% 79%;
  }
}
